# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Nuxt
.nuxt/
.output/
dist/

# Logs
logs/
*.log

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Firebase
.firebase/
firebase-debug.log

# TypeScript
*.tsbuildinfo
